<ion-view title="Lista de Verificación" view-cache="false">

    <ion-content padding="true">

        <widget-clientes></widget-clientes>

        <a class="button button-light button-block icon-left ion-checkmark-circled" style="text-align:left;" ng-href="#/men/validaciN/{{id_pdv}}">
            Validación
        </a>
        <br />
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Seleccione la tarea</p>
        </div>
        <a ng-repeat="item in serve" ng-href="#/men/servicos/{{id_pdv}}/{{item.id}}" style="text-align:left;" ng-class="item.color" class="button button-block icon-left"><i class="fa {{item.icone}}"></i> {{item.nome}}</a>
        <msg></msg>
    </ion-content>
</ion-view>