<ion-view title="Checklist" view-cache="false">
        <ion-nav-bar class="bar-royal">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear ion-checkmark-circled" menu-toggle="right" ng-href="#/men/validaciN/{{id_pdv}}"></a>
            </ion-nav-buttons>
        </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <div class="list card">
            <ion-item class="item-avatar item-icon-right"ui-sref="men.editarPDV">
                <img src="{{pdv.url}}">
                <h2>{{pdv.nome}}</h2>
                <p>{{pdv.endereco}}</p>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
        </div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Seleccione la tarea</p>
        </div>
        <a ng-repeat="item in serve" ng-href="#/men/servicos/{{id_pdv}}/{{item.id}}" style="text-align:left;" class="button button-positive  button-block icon-left {{item.icone}}"> {{item.nome}}</a>
    </ion-content>
</ion-view>