<ion-view title="Editar Usuário" view-cache="false">


    <ion-content padding="true">
        <form class="list">
            <div>

                <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="" ng-model="user.nome">
                </label>
                <div class="spacer" style="height: 4px;"></div>

            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="" ng-model="user.login">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="" ng-model="user.senha">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <div class="spacer" style="height: 4px;"></div>
            </div>
        </form>
        <div class="spacer" style="height: 25px;"></div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar bar-balanced" ng-click="salvar()">
            <a class="button">Guardar</a>
        </div>
    </div>
</ion-view>