<ion-view title="Editar PDV" view-cache="false">


    <ion-content padding="true">
        <form class="list">
            <div>
                <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input ng-model="pdv.nome" type="text" placeholder="">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Dirección</span>
                    <input ng-model="pdv.endereco" type="text" placeholder="">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Ciudad</span>
                    <input ng-model="pdv.cidade" type="text" placeholder="">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
        </form>
        <div class="spacer" style="height: 25px;"></div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar bar-balanced" ng-click="salvar()">
            <a class="button">Guardar</a>
        </div>
    </div>
</ion-view>