<ion-view title="Editar Usuário" view-cache="false">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true">
        <form class="list">
            <div>

                <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="" ng-model="user.nome">
                </label>
                <div class="spacer" style="height: 4px;"></div>

            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="" ng-model="user.login">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="" ng-model="user.senha">
                </label>
                <div class="spacer" style="height: 4px;"></div>
            </div>
            <div>
                <div class="spacer" style="height: 4px;"></div>
                <div id="editarUsuRio-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
                    <p style="color:#000000;">Otros campos como la hoja de cálculo</p>
                </div>
            </div>
        </form>

        <div class="spacer" style="height: 4px;"></div>
        <a ng-click="salvar()" class="button button-balanced  button-block">Guardar</a>
    </ion-content>
</ion-view>