<ion-view title="Editar PDV" id="page15" view-cache="false">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div id="editarPDV-container16">
            <form id="editarPDV-form28" class="list">
                <label class="item item-input" id="editarPDV-input33">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 300px; height: 4px;"></div>
            </form>
        </div>
        <div id="editarPDV-container17">
            <form id="editarPDV-form29" class="list">
                <label class="item item-input" id="editarPDV-input36">
                    <span class="input-label">Dirección</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 300px; height: 4px;"></div>
            </form>
        </div>
        <div id="editarPDV-container18">
            <form id="editarPDV-form30" class="list">
                <label class="item item-input" id="editarPDV-input37">
                    <span class="input-label">Ciudad</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 300px; height: 4px;"></div>
            </form>
        </div>
        <div id="editarPDV-container19">
            <form id="editarPDV-form31" class="list">
                <label class="item item-input" id="editarPDV-input38">
                    <span class="input-label">Teléfono</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 300px; height: 4px;"></div>
                <div id="editarPDV-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
                    <p style="color:#000000;">Otros campos como la hoja de cálculo</p>
                </div>
            </form>
        </div>
        <div id="editarPDV-container20">
            <form id="editarPDV-form32" class="list">
                <div class="spacer" style="width: 300px; height: 4px;"></div>
            </form>
        </div>
        <a ui-sref="men.checklist" id="editarPDV-button25" class="button button-balanced  button-block">Guardar</a>
    </ion-content>
</ion-view>