<ion-view title="Foto" id="page9" view-cache="false">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 70px;"></div>
        <div>
            <img src="https://s3.amazonaws.com/ionic-io-static/1XFHFW89QlqWBBvkIzg2_slr_camera_application_slr_3037.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="foto-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Permite la cámara célula</p>
        </div>
    </ion-content>
</ion-view>