<ion-view title="Casa" view-cache="false">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="spacer" style="height: 36px;"></div>
        <div>
            <img src="img/logo.png" class="logo">
        </div>
        <div class="spacer" style="height: 29px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:19px;">{{periodo}}
                <strong>{{user.nome}}</strong>
            </p>
        </div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Mensaje de boas vindas o notificaciones y avisos del sistema</p>
        </div>
        <div class="spacer" style="height: 135px;"></div>
        <a ui-sref="men.listaDePDVs" class="button button-positive  button-block">Lista de verificación</a>
    </ion-content>
</ion-view>