<ion-view title="Home" view-cache="false">

    <ion-content padding="true">
        <div class="spacer" style="height: 36px;"></div>
        <div>
            <img src="img/logo.png" class="logo">
        </div>
        <div class="spacer" style="height: 29px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:19px;">{{periodo}}
                <strong>{{user.nome}}</strong>
            </p>
        </div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;"></p>
        </div>

        <a ui-sref="men.listaDePDVs" class="button button-dourado button-block">Lista de Verificación</a>

        <a ng-repeat="(key, item) in canais" class="button button-dourado button-block" ng-click="consultar(item)" ng-style="{background: (item.status < 1?'#525151':'')}">{{item.nome}}</a>

    </ion-content>

</ion-view>