<ion-view title="Lista de PDVs" view-cache="false">

    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar class="bar-light bar-subheader">
        <input type="search" placeholder="Búsqueda" style="width: 100%;" ng-model="search" ng-model-options='{debounce: 500}' ng-focus="searchFocused = true" ng-blur="searchFocused = false" ng-change="scrollTop()" class="full-width">
        <button ng-if="search.length" class="button button-icon ion-close input-button button-search" ng-click="clearSearch()"> </button>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item collection-repeat="item in dados | filter:{nome:search}" class="item-avatar item-icon-right" ng-href="#/men/checklist/{{item.id}}" collection-item-width="'95%'">
                <img ng-src="{{item.url}}">
                <h2>{{item.nome}}</h2>
                <p>{{item.endereco}}</p>
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>