<ion-view title="Lista de Verificación" view-cache="false">

    <ion-header-bar class="bar-light bar-subheader" style="width: 94%; margin-left: 3%;">
        <input type="search" placeholder="Búsqueda" style="width: 100%;" ng-model="search" ng-model-options='{debounce: 500}' ng-focus="searchFocused = true" ng-blur="searchFocused = false" ng-change="scrollTop()" class="full-width">
        <button ng-if="search.length" class="button button-icon ion-close input-button button-search" ng-click="clearSearch()"> </button>
    </ion-header-bar>

    <ion-content padding="true">
        <ion-list>
            <ion-item collection-repeat="item in dados | filter:{nome:search}" class="item-avatar item-icon-right" ng-href="#/men/checklist/{{item.id}}" collection-item-width="'95%'">
                <img ng-src="{{item.url}}">
                <h2 ng-class="item.styleColor">{{item.nome}}</h2>
                <p>{{item.endereco}}</p>
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>

        </ion-list>
        
        <msg></msg>
        
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>