<ion-view title="Login" hide-nav-bar="true" view-cache="false">
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <form id="login-form1" class="list">
      <div>
        <img src="img/logo.png" class="logo">
      </div>
      <div class="spacer" style="width: 300px; height: 68px;"></div>
      <ion-list>
        <label class="item item-input" id="login-input1">
            <input type="text" placeholder="Username" ng-model="usuario.username">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Password" ng-model="usuario.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="men.home" id="login-button2" class="button button-balanced  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>