<ion-view title="Login" hide-nav-bar="true" view-cache="false">
  <ion-content padding="true" scroll="false">
    <div class="spacer" style="height: 32px;"></div>
    <form class="list">
      <div>
        <img src="img/logo.png" class="logo">
      </div>
      <div class="spacer" style="height: 68px;"></div>
      <ion-list>
        <label class="item item-input">
            <input type="text" placeholder="Nombre de usuario" ng-model="user.login">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña" ng-model="user.senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="logar()" class="button button-balanced  button-block">Iniciar la sesión</a>
    </form>
  </ion-content>
</ion-view>