<ion-view title="Registro Fotográfico" view-cache="false">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <ion-item class="item-avatar">
                <img src="https://s3.amazonaws.com/ionic-io-static/PYnhNQgeTGevLdTflViz_p1.jpg">
                <h2>nombre del PDV</h2>
                <p>Información de la dirección</p>
            </ion-item>
        </div>
        <h3 style="color:#000000;text-align:center;">Registro Fotográfico</h3>

        <form class="list">

            <div ng-repeat="l in dados">
                <div class="spacer" style="height: 21px;"></div>
                <ion-item class="item-avatar item-icon-right">
                    <img ng-src="{{l.url}}">
                    <h2>{{l.item}}</h2>
                    <p>Cantidad estándar: {{l.quantidade}}</p>
                    <i class="icon ion-ios-camera"></i>
                </ion-item>
                <label class="item item-input">
                    <span class="input-label">Instalado</span>
                    <input type="number" placeholder="Cantidad">
                </label>
            </div>
        </form>



        <form id="registroFotogrFico-form8" class="list">
            <a ui-sref="men.ambev" id="registroFotogrFico-button18" class="button button-dark  button-block">Retorno</a>
            <div class="spacer" style="height: 21px;"></div>
        </form>
    </ion-content>
</ion-view>