<ion-view title="Sincronizar Los Datos" view-cache="false">
    
    
    <ion-content padding="true">
        <div class="spacer" style="height: 25px;"></div>
        <div>
            El envío de los datos recogidos em el servidor.
        </div>
        <div class="spacer" style="height: 25px;"></div>
        <div ng-repeat="item in registro" style="text-align:center;" class="show-list-numbers-and-dots">
            <div style="color:#000000;font-size:19px;">
                <strong>Total: {{item.nome}}</strong>
            </div>
            <div class="row">
                <div class="col" style="color:#000000;font-size:12px;">
                    <strong>Total: {{item.total}}</strong>
                </div>
                <div class="col" style="color:#000000;font-size:12px;">
                    <strong>Procesada: {{item.processado}}</strong>
                </div>
            </div>
            <div style="color:#000000;">
                <progress value="{{item.porcentagem}}" max="100" style="background: green;"></progress>
            </div>
        </div>
        <div class="spacer" style="height: 25px;"></div>
        <a ui-sref="men.listaDePDVs" class="button button-dourado button-block">Lista de Verificación</a>
    </ion-content>
</ion-view>