<ion-view title="Registro Fotográfico" view-cache="false">

    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

        <widget-clientes></widget-clientes>
        <h3 style="color:#000000;text-align:center;">Registro Fotográfico</h3>

        <form class="list">
            <div ng-repeat="l in dados">
                <div class="spacer" style="height: 21px;"></div>
                <ion-item class="item-avatar item-icon-right" ng-click="tirarFoto(l)">
                    <img ng-src="{{l.TiersItensurl}}">
                    <h2>{{l.item}}</h2>
                    <p>Cantidad estándar: {{l.quantidade}}</p>
                    <i class="icon ion-ios-camera"></i>
                </ion-item>
                <label class="item item-input">
                    <span class="input-label">Instalado</span>
                    <input type="number" ng-model="l.TiersItensresposta" placeholder="Cantidad">
                </label>
            </div>
        </form>

        <div class="spacer" style="height: 21px;"></div>
        <a ng-click="salvar()" class="button button-balanced  button-block">Guardar</a>
        <div class="spacer" style="height: 21px;"></div>

    </ion-content>
</ion-view>